@font-face {
    font-family: 'OpenSansRegular';
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
    font-style: normal;
    font-weight: 300;
}
