@import "reset.css";
@import "colors";
@import "typography";
@import "fonts";

body {
  font-family: $primaryFont;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
